@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: white;
  width: 100%;
  height: auto;
}

.logo {
    width: 54px;
    height: 54px;
    margin-bottom: 15px;
}

.title {
    margin-top: 50px;
    margin-bottom: 30px;
    font-weight: 100;
    text-align: center;
}

.title > span {
    margin-top: 15px;
    font-size: 2.5rem;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
    margin-bottom: 30px;
}

#pad {
    max-width: 50rem;
    margin: auto;
    margin-top: 10px;
    padding: 2rem;
    background: #fff0db;
    border-radius: 8px;
    /* box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.6); */
    box-shadow: 1px 1px 8px 4px rgba(12, 5, 32, 0.6);
    text-align: center;
  }

  li {
    list-style-type: none;
  }

  .list-items {
    border: 1px solid black !important;
    padding: 10px;
  }

  .inline-block-child {
    display: inline;
  }
  .space {
    margin-right: 3px;
  }
  .button-icon {
    height: 40px;
    width: 40px;
    cursor: pointer;
  }

  .task-item-text {
    margin-top: 14px;
    margin-right: 20rem;
  }

  .drop-down {
    width: 30%;
    margin: auto;
  }

  .col.crossed {
    text-decoration: line-through;
  }

  /* .form-control {
    margin-top: 11px;
    height: 10px;
    width: 40%;
  } */